ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=db.PROJECT.supabase.co;Port=5432;Database=postgres;Username=postgres;Password=SUA_SENHA;SSL Mode=Require;Trust Server Certificate=true
